* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}   

section.main {
    background: url('imgs//bg.svg');
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}

.center {
    display: flex;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1200px;
}

.menu {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.logo-menu {
    width: 50%;
}

.itens-menu {
    width: 50%;
    text-align: right;
}

.itens-menu a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
}

.itens-menu a:hover {
    border-bottom: 2px solid #fd3;
}

.itens-menu .contact-btn {
    padding: 10px;
    background: #0F3FD3;
    border-radius: 10px;
}

.itens-menu .contact-btn:hover {
    border: 0;
}

.mackup {
    width: 100%;
    color: white;
    text-align: center;
    padding: 100px;
    display: block;
}

.mackup h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.mackup img {
    margin-top: 10px;
    max-width: 100%;
}

.redes img {
    width: 20%;
    height: 142px;
}

section.porque-nos {
    padding: 40px;
    background: #fbfcfe;
}

section.porque-nos>.center>h2 {
    font-size: 64px;
    text-align: center;
    width: 100%;
}

section.porque-nos>.center>p {
    font-size: 14px;
    text-align: center;
    width: 100%;
    color: #ccc;
}

.diferenciais {
    display: flex;
    margin-top: 50px;
}

.box-diferenciais {
    width: 31%;
    box-shadow: 0px 20px 40px #2426721C;
    margin-right: 2%;
    padding: 10px 20px;
}

.box-diferenciais h3 {
    font-size: 24px;
    color: black;
    margin: 15px 0;
}

.box-diferenciais p {
    font-size: 13px;
    color: #7e92ac;
    margin-bottom: 20px;
}

section.cta {
    background: url('imgs/BANNER.svg');
    background-size: cover;
    background-position: center;
    padding: 20px 10px;
    min-height: 200px;
    color: white;
    text-align: center;
}

section.cta h2,
section.cta h4 {
    font-weight: normal;
    margin: 10px 0;
}

section.cta h2 {
    font-size: 30px;
}

section.cta a {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 17px;
    background: #ffdd33;
    text-decoration: none;
    color: #0f3fd3;
}

section.beneficios {
    padding: 65px;
}

.lista-beneficios {
    width: 50%;
    margin-top: 30px;
}

.lista-beneficios h1 {
    font-size: 50px;
}

.lista-beneficios p {
    color: #7e92ac;
    vertical-align: middle;
    font-size: 14px;
}

.lista-beneficios p span {
    display: inline-block;
    width: calc(100% - 70px);
}

.lista-beneficios p img {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.lista-beneficios a {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 17px;
    background: #255AFF;
    text-decoration: none;
    color: white;
}

.img-beneficios {
    width: 50%;
}

.img-beneficios img {
    max-width: 100%;
}

.depoimentos {
    padding: 0 100px;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

.depoimentos h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.depoimentos .slides {
    margin: 40px auto;
}

.depoimentos .cards {
    overflow: hidden;
}

.depoimentos .card-depoimento {
    float: left;
}

.depoimentos .cards {
    background: #FBFCFE;
}

.depoimentos .card-depoimento {
    margin: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #7E92AC;
    box-shadow: 0 0 10px #2426721c;
    padding: 10px;
    border-radius: 7px;
}

.card-depoimento .person {
    width: 86px;
    height: 86px;
    margin-bottom: 10px;
}

.card-depoimento h5 {
    font-size: 30px;
    color: #000;
}

.card-depoimento p {
    font-size: 16px;
    margin-bottom: 10px;
}

.card-depoimento span {
    font-size: 18px;
    margin: 10px 0;
    display: block;
}

.slick-dotted ul {
    display: block;
    list-style-type: none;
    text-align: center;
    position: relative;
}

.slick-dotted li {
    display: inline-block;
    margin: 0 7px;
}

.slick-dotted button:focus {
    outline: 0;
}

.slick-dotted li button {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: #255AFF;
    border-width: 0;
    background: #255AFF;
    opacity: 1;
    cursor: pointer;
}

li.slick-active button {
    background: #373855;
    color: #373855;
}

.slick-slide:focus {
    outline: none;
}

.contato {
    padding: 40px 0;
    text-align: center;
}

.contato form {
    width: 100%;
}

.contato h1 {
    font-size: 50px;
}

.contato input[type=text],
.contato input[type=email],
.contato button {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    background: #fcfdff;
    border: 1px solid #c3cce8;
    padding-left: 10px;
}

.contato textarea {
    width: 100%;
    height: 120px;
    margin: 20px 0;
    border-radius: 10px;
    background: #fcfdff;
    border: 1px solid #c3cce8;
    padding: 10px;
    resize: vertical;
}

.contato button {
    background: #255AFF;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    border: 0;
    cursor: pointer;
}

footer {
    background: #255AFF;
    color: white;
    padding: 10px 0;
}

.text-footer {
    width: 50%;
    padding: 8px 0;
}

.menu-mobile-icon {
    background: red;
    position: absolute;
    top: 84px;
    right: 40px;
    width: 26px;
    height: 22px;
    background: url('imgs/menu-mobile.svg') no-repeat;
    cursor: pointer;
    display: none;
    transition: background 1s;
}

#menu-mobile-check:checked+.menu-mobile-icon {
    background: url('imgs/menu-close.svg') no-repeat;
}



@media screen and (max-width: 850px) {

    .menu-mobile-icon {
        display: block;
    }

    .menu {
        display: block;
    }

    section.main .itens-menu {
        display: none;
        width: 100%;
        margin-top: 10px;
        background: #255AFF;
        padding: 10px 0 50px 0;
    }

    section.main .itens-menu a {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 23px;
        margin: 20px;
    }

    #menu-mobile-check:checked~.itens-menu {
        display: block;
    }

    .lista-beneficios,
    .img-beneficios {
        width: 100%;
        margin-bottom: 30px;
    }

    .diferenciais {
        flex-wrap: wrap;
    }

    .box-diferenciais {
        width: 100%;
        margin-right: 0;
    }

    .redes>.center {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .redes img {
        max-width: 300px;
        width: 100%;
    }

    footer .itens-menu {
        width: 100%;
        text-align: center;
    }

    footer .itens-menu a {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    .text-footer {
        padding: 8px 0;
        text-align: center;
        width: 100%;
    }

}